<footer id="site-footer" role="contentinfo">
    <section class="footer-top">
      <div class="flex-boxes">
        <div class="flex-box">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" alt="">
          <h1 class="flex-title">Block Example 1</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae fugiat tenetur fugit atque dignissimos, fugiat natus vitae.</p>
        </div>
        <div class="flex-box">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
          <h1 class="flex-title">Block Example 2</h1>
          <p>Lorem adipisicing elit. Voluptas consectetur tempora quis nam, officia tenetur blanditiis in illo dolor?</p>
        </div>
        <div class="flex-box">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
          <h1 class="flex-title">Block Example 3</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo obcaecati in provident illo.</p>
        </div>
        <div class="flex-box">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
          <h1 class="flex-title">Block Example 4</h1>
          <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
        </div>
        <div class="flex-box flex-box-big">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
          <h1 class="flex-title">Block Example 4</h1>
          <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
        </div>
      </div>
    </section>

    <section class="footer-bottom">
      <div class="copyright">
        <p>
          &copy; YEAR
        </p>
      </div>

      <div class="utility-menu">
        <ul>
          <li><a href="/">Privacy Policy</a></li>
          <li><a href="/">Terms of Service</a></li>
        </ul>
      </div>
    </section>
  </footer>
